.profileHeader{
    margin-top: 12px;
    margin-left: 10px;
    font-size: 36px;
    padding: 4px;
}
.profileContainer{
    padding-block: 18px;
    transform: translate(0,15%);
    padding-inline: 12px;
}
.profileContainer .profileDetails{
    text-align: center;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    flex-wrap: nowrap;
}
.profileContainer .profileDetails .btnSave{
    border: none;
    font-size: 15px;
    box-shadow: 0.1px 0.2px grey;
    color: white;
    border-radius: 8px;
    background: linear-gradient(36deg,#e206a8,#b7089f);
    padding-inline: 18px;
    margin-top: 4px;
    padding-block: 5px;
    transition: all 0.3s ease;
}
.profileContainer .profileDetails .btnSave:hover{
    transform: scale(1.01);
}
.profileContainer .profileDetails img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-block-end:10px
}
.profileContainer .profileDetails .inputField{
    border: none;
    width:240px;
    margin-block: 6px;
    height: 36px;
    box-shadow: 0.1px 0.2px grey;
    padding-inline: 12px;
    padding-block: 4px;
    border-radius: 8px;
}
.profileContainer .profileDetails .errorField{
    border:solid #ff0033 1px;
}
.profileContainer .profileDetails .inputField:focus{
    outline: none;
}
.profileContainer .profileDetails label{
    text-align: left;
    display: flex;
    margin-block-end: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}
