.join-container{
    display: flex;
    font-size: 24px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.joinError{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.homeBtn{
    padding-inline: 10px;
    padding-block: 5px;
    background-color: #600f8f;
    color: white;
    border-radius: 10px;
    margin-block-start: 6px;
    text-decoration: none;
}